/*div#content {*/
/*  padding:2%;*/
/*  margin-left: auto;*/
/*  margin-right: auto;*/

/*}*/

/*.btn-link{*/
/*    background-color: lightgray;*/
/*    width: 100px;*/
/*    margin: 2px;*/
/*    cursor: pointer;*/
/*}*/

/*.btn-link:hover, .btn-link:active{*/
/*    text-decoration: underline;*/
/*}*/

/*a{*/
/*    text-decoration: none;*/
/*    color: black;*/
/*}*/

/*body{*/
/*    padding: 0px;*/
/*    margin: 0px;*/
/*    font-family: Helvetica, sans-serif;*/

/*}*/

/*a:hover, a:active {*/
/*  text-decoration: underline;*/
/*}*/

/*div#header {*/
/*    height: 10%;*/
/*    padding: 2%;*/
/*    background-color: darkgray;*/
/*    border-bottom: lightgray solid 5px;*/
/*    border-top: lightgray solid 4px;*/

/*    display:flex;*/
/*}*/

/*div#index_button {*/
/*  padding-left: 10%;*/
/*  padding-right:10%;*/
/*}*/

/*div#title {*/
/*  padding-left:10%;*/
/*  margin-left:10%;*/
/*  letter-spacing: 3px;*/
/*}*/

/*div#content {*/
/*  padding:2%;*/
/*  margin-left: auto;*/
/*  margin-right: auto;*/

/*}*/

/*th {*/
/*  background-color: lightgray;*/
/*  padding: 2px;*/
/*}*/

/*td {*/
/*    padding: 5px;*/
/*}*/

/*td.message {*/
/*  width:40%;*/
/*}*/

/*td.view_number, td.vote_number, td.title, td.id {*/
/*   text-align: center;*/
/*}*/


/*table {*/
/*  margin-left: auto;*/
/*  margin-right: auto;*/
/*  padding: 0px;*/
/*}*/

/*div.answers_section{*/
/*  padding-left: 10%;*/
/*  padding-right: 10%;*/
/*  display:inline-block;*/

/*}*/


button.btn.btn-outline-secondary.btn-warning {
    color:white;
}

button:hover.btn.btn-outline-secondary.btn-warning {
    background-color: lightgrey;
}

td.message, th.message {
    min-width: 20vw;
}
td.post_time, th.post_time {
    max-width: 6vw;
}
td.tags, th.tags {
    max-width: 6vw;
}
td.votes, th.votes {
    max-width: 3vw;
}
td.actions, th.actions {
    width:1vw;
}

td.image {
    text-align: center;
}


div.accordion-item {
    width:80%;
    margin-left: 5%;
    border-bottom-width: 0;

}

button.accordion-button {
    justify-content: flex-end;

}

button.accordion-button::after {
    margin-left: 3%;
}

td.d-flex.flex-column.actions {
    height: 100%;
}


.accordion-button:focus {
    z-index: 3;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: none !important;
}

.accordion-button:hover {
    z-index: 3;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%) !important;
}


div#question_respond_container {

}

#question_respond_container>div.comments_section>table{
    width: 80%;
    margin-left: 20%;
}

#question_respond_container>div.comments_section>a.btn.btn-primary{
    margin-left:20%;
}

#question_respond_container>div.comments_section>h5, p {
    font-size: 120%;
        margin-left:20%;

}

hr.before.snippets {
    margin-bottom: 0;
}

