div.container {
    min-width: 80vw;
    overflow: no-display;
}
/*}*/

/*.btn-link{*/
/*    background-color: lightgray;*/
/*    width: 100px;*/
/*    margin: 2px;*/
/*    cursor: pointer;*/
/*}*/

/*.btn-link:hover, .btn-link:active{*/
/*    text-decoration: underline;*/
/*}*/

/*a{*/
/*    text-decoration: none;*/
/*    color: black;*/
/*}*/

/*body{*/
/*    padding: 0px;*/
/*    margin: 0px;*/
/*    font-family: Helvetica, sans-serif;*/

/*}*/

/*a:hover, a:active {*/
/*  text-decoration: underline;*/
/*}*/

/*div#header {*/
/*    height: 10%;*/
/*    padding: 2%;*/
/*    background-color: darkgray;*/
/*    border-bottom: lightgray solid 5px;*/
/*    border-top: lightgray solid 4px;*/

/*    display:flex;*/
/*}*/

/*div#index_button {*/
/*  padding-left: 10%;*/
/*  padding-right:10%;*/
/*}*/

/*div#title {*/
/*  padding-left:10%;*/
/*  margin-left:10%;*/
/*  letter-spacing: 3px;*/
/*}*/

/*div#content {*/
/*  padding:2%;*/
/*  margin-left: auto;*/
/*  margin-right: auto;*/

/*}*/

/*th {*/
/*  background-color: lightgray;*/
/*  padding: 2px;*/
/*}*/

/*td {*/
/*    padding: 5px;*/
/*}*/

/*td.message {*/
/*  width:40%;*/
/*}*/

/*td.view_number, td.vote_number, td.title, td.id {*/
/*   text-align: center;*/
/*}*/


/*table {*/
/*  margin-left: auto;*/
/*  margin-right: auto;*/
/*  padding: 0px;*/
/*}*/

/*div.answers_section{*/
/*  padding-left: 10%;*/
/*  padding-right: 10%;*/
/*  display:inline-block;*/

/*}*/




button.btn.btn-outline-secondary.btn-warning {
    color:white;
}

button:hover.btn.btn-outline-secondary.btn-warning {
    background-color: lightgrey;
}

div.accordion-item {
    width:80%;
    margin-left: 5%;
    border-bottom-width: 0;

}

div.accordion-body > p {
    width:80%;
    margin-left: 5%;
    border-bottom-width: 0;
    font-size: 100%;

}

button.accordion-button {
    justify-content: flex-end;

}

/*button.accordion-button::after {*/
/*    margin-left: 3%;*/
/*}*/

td.d-flex.flex-column.actions {
    height: 100%;
}


.accordion-button:focus {
    z-index: 3;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: none !important;
}

.accordion-button:hover {
    z-index: 3;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%) !important;
}



.question.comments_section{
    margin-left: 15%;
}

/*#question_respond_container > a*/
/*{*/
/*    margin-left: 15%;*/
/*}*/

/*#question_respond_container>div.comments_section>a.btn.btn-primary{*/
/*    margin-left:10%;*/
/*}*/


hr.before.snippets {
    margin-bottom: 0;
}


span.badge.votes-value {
    color: black;
}

.message {
    width:35vw;
    text-align: justify;
}



.post_time {
    width: 12vw;
}

div.question.comment.buttons {
    min-width: 5vw;
}

.title, .title {
    width: 15vw;
}

td.image {
    text-align: center;
}

#answers_section {
    width: 90%;
    margin-left: 10%;
}

#answers_section > hr:first-child {
    margin-left: 0;

}

div#answers_section > tr.answer_comments > div.message {
    width: 22vw;
}

div#answers_section > tr.answer_comments > div.post_time {
    width: 8vw;
}

div#answers_section td.post_time, th.message {
    width: 10vw;
}


/*#answers_section > table > tbody > tr:nth-child(1) > th.message.text-center {*/
/*    width:20vw;*/
/*}*/

#answers_section > table > tbody > tr:nth-child(1) > td.message.text-center {
    width:20vw;
}

td.votes {
    width:6vw;
}

td.actions, th.actions {
    width:7vw;
}

/*button.btn.btn-primary.answer.comments_button {*/
/*    height: initial;*/
/*}*/

/*td.button_cell {*/
/*    padding: 5% 0;*/
/*    min-height: 10vh;*/
/*}*/
