{% extends 'base.html' %}
{% block head %}

    {{ super() }}

{% endblock %}
{% block content %}
    <h3>Add question</h3>
    <hr>

    <form action="{{ url_for('add_question') }}" method="post" enctype="multipart/form-data">
        <label for="title">Your question:</label><br>
        <input type="text" name="title" id="title" required><br>

        <label for="message">Message:</label><br>
        <textarea rows="10" cols="30" name="message" id="message" required></textarea><br>

        <label for="image">Image</label><br>
        <input type="file" name="image" id="image" accept="image/jpeg, image/png"><br>

        <br>
        <input type="submit" value="Add question" class="btn-link">
    </form>
{% endblock%}