{% extends 'base.html' %}
{% block head %}

    {{ super() }}
    <link rel="stylesheet" href="../../../static/style/style.css">

{% endblock %}
{% block content %}
 <h3>Add comment</h3>
    <hr>

    <form action ="" method="POST" enctype="multipart/form-data">
        <label for="message">Comment:</label><br>
        <textarea required id="message" name="message" rows="4" cols="60"></textarea><br>
        <br>
        <input type="submit" value="Add comment" class="btn-link">
    </form>
{% endblock %}