{% extends 'base.html' %}
{% block head %}

    {{ super() }}
    <link rel="stylesheet" href="../../../static/style/style.css">

{% endblock %}
{% block content %}
    <h1>Edit answer</h1><br>
    <button class="btn-link">
        <a href="{{ url_for('get_list_of_questions') }}">Back to Main page</a>
    </button>
    <hr>

    <form action="{{ url_for('edit_answer', answer_id=answer_id) }}" method="post">
        <label for="message">Message:</label><br>
        <textarea rows="10" cols="30" name="message" id="message" required>{{ answer['message'] }}</textarea><br>
        <br>
        <input type="submit" value="Save" class="btn-link">
    </form>
{% endblock %}