{% extends 'base.html' %}
{% block head %}

    {{ super() }}

{% endblock %}
{% block header %}
{{ super() }}
{% endblock %}
{% block content %}
    <h1 class="display-3"><i class="fas fa-home text-warning"></i> Home</h1>
    <hr>
    {% if sorted %}
        <form action="" method="get">
            <label for="order_by" class="form-label" >Sort by:</label>
            <select id="order_by" name="order_by" class="form-select">
                <option value="title">Title</option>
                <option selected value="submission_time">Submission time</option>
                <option value="message">Message</option>
                <option value="view_number">View number</option>
                <option value="vote_number">Vote number</option>
            </select>
            <br>
            <label for="order_direction" class="form-label">Order by:</label>
            <select id="order_direction" name="order_direction" class="form-select">
                <option selected value="desc">Descending</option>
                <option value="asc">Ascending</option>
            </select>
            <br>
            <button type="submit" class="btn btn-primary">Sort</button>
        </form>
    <hr>
    {% endif %}


    <table class="table table-striped table-hover">
        <tr>
            {% if questions|length == 0 %}
                <h3>No questions</h3>
            {% else %}
                {% if sorted %}
                    {% for header in ['submission_time', 'vote_number', 'view_number', 'title', 'message', 'image'] %}
                        <th style="text-align: center;">{{ header.capitalize().replace('_', ' ') }}</th>
                    {% endfor %}
                {% else %}
                    {% for header in ['submission_time', 'title', 'message', 'image'] %}
                        <th style="text-align: center;">{{ header.capitalize().replace('_', ' ') }}</th>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </tr>
        {% if sorted %}
        {% for question in questions %}
        <tr>

            {% for data in ['submission_time', 'vote_number', 'view_number', 'title', 'message', 'image'] %}
                <td class="{{ data }}">
                {% if data == "title" %}

                    <a href="question/{{ question["id"] }}">{{ question[data] }}</a>

                {% elif data == "image" %}
                        {% if question['image'] == 'none.jpg' %}
                            <img style="width: 50px; height: 50px" src={{ url_for('static', filename="images/none.jpg")}}  alt="">
                        {% else %}
                            <img style="width: 50px; height: 50px" src="{{ url_for('static', filename="images/questions/" + question['id']|string + "/" + question['image']) }}" alt="">
                        {% endif %}
                {% else %}

                    {{ question[data] }}

                {% endif %}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
        {% else %}
        {% for question in questions %}
        <tr>

            {% for data in ['submission_time', 'title', 'message', 'image'] %}
                <td class="{{ data }}">
                {% if data == "title" %}

                    <a href="question/{{ question["id"] }}">{{ question[data] }}</a>

                {% elif data == "image" %}
                        {% if question['image'] == 'none.jpg' %}
                            <img style="width: 50px; height: 50px" src={{ url_for('static', filename="images/none.jpg")}}  alt="">
                        {% else %}
                            <img style="width: 50px; height: 50px" src="{{ url_for('static', filename="images/questions/" + question['id']|string + "/" + question['image']) }}" alt="">
                        {% endif %}
                {% else %}

                    {{ question[data] }}

                {% endif %}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
        {% endif %}
    </table>
    <br>

    <a href="/list" class="btn btn-primary">All questions</a>
    <a href="{{ url_for('display_add_question') }}" class="btn btn-primary">Add question</a>
{% endblock %}