<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AskMate</title>
</head>
<body>

    <a href="/"><h1>Main Page</h1></a>

    <button>
        <a href="{{ url_for('display_add_question') }}">Add question</a>
    </button>


    <hr>
    <form action="" method="get">
        <label for="order_by" >Sort by:</label>
        <select id="order_by" name="order_by">
            <option value="title">Title</option>
            <option selected value="submission_time">Submission time</option>
            <option value="message">Message</option>
            <option value="view_number">View number</option>
            <option value="vote_number">Vote number</option>
        </select>
        <br>
        <label for="order_direction">Order by:</label>
        <select id="order_direction" name="order_direction">
            <option selected value="desc">Descending</option>
            <option value="asc">Ascending</option>
        </select>
        <br>
        <br>
        <input type="submit" value="Sort">
    </form>
    <hr>

    <table border="1">
        <tr>
            {% for header in question_headers %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>

        {% for question in questions %}
        <tr>

            {% for data in question.keys() %}
                {% if data == "title" %}

                    <td>
                        <a href="question/{{ question["id"] }}">{{ question[data] }}</a>
                    </td>
                {% elif data == "image" %}
                    <td>
                        <img style="width: 50px; height: 50px" src="{{ url_for('static', filename="images/" + question['image'] ) }}" alt="">
                    </td>
                {% else %}

                    <td>{{ question[data] }}</td>

                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
