<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AskMate</title>
</head>

<h1>ASK MATE</h1>
    <button>
        <a href="{{ url_for('get_list_of_questions') }}">Back to Main page</a>
    </button>
    <hr>

    <table border="1">
        <tr>
            {% for header in question_headers %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
        <tr>
            <td>{{ question['id'] }}</td>
            <td>{{ question['submission_time'] }}</td>
            <td>{{ question['view_number'] }}</td>
            <td>{{ question['vote_number'] }}</td>
            <td>{{ question['title'] }}</td>
            <td>{{ question['message'] }}</td>
            <td>
                {% if question['image'] == 'none.jpg' %}
                    <img style="width: 50px; height: 50px" src={{ url_for('static', filename="images/none.jpg")}}  alt = "">
                {% else %}
                    <img style="width: 50px; height: 50px" src="{{ url_for('static', filename="images/questions/" + question['id'] + "/" + question['image']) }}" alt="">
                {% endif %}
            </td>
        </tr>
    </table>

    <br>
    <button>
        <a href="{{ question['id'] }}/delete">Delete question</a>
    </button>
    <button>
        <a href="{{ question['id'] }}/edit">Edit question</a>
    </button>
    <br>

    <form action="{{ url_for('vote_on_post', entry_id=question['id'], vote_value='vote_up', entry_type='question') }}" method="post">
        <button type="submit" class="btn-link">Vote up</button>
    </form>
    <form action="{{ url_for('vote_on_post', entry_id=question['id'], vote_value='vote_down', entry_type='question') }}" method="post">
        <button type="submit" class="btn-link">Vote down</button>
    </form>

    <br>
<h2>Answers:</h2>

    {% if  answers|length > 0  %}
        <br>
        <table border="1">
            <tr>
                {% for header in answer_headers %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>

                {% for answer in answers %}
                    <tr>
                        <td>{{ answer['id'] }}</td>
                        <td>{{ answer['submission_time'] }}</td>
                        <td>{{ answer['vote_number'] }}</td>
                        <td>{{ answer['question_id'] }}</td>
                        <td>{{ answer['message'] }}</td>
                        <td>
                            {% if answer['image'] == 'none.jpg' %}
                                <img style="width: 50px; height: 50px" src={{ url_for('static', filename="images/none.jpg")}}  alt = "">
                            {% else %}
                                <img style="width: 50px; height: 50px" src="{{ url_for('static', filename="images/answers/" + answer['id'] + "/" + answer['image']) }}" alt="">
                            {% endif %}
                    </tr>
                {% endfor %}
        </table>
    {% else %}
    <h3>no answers</h3>
    {% endif %}

    <br>
    <button>
        <a href="/question/{{ question['id'] }}/add-answer">Add an answer</a>
    </button>

</body>
</html>