{% extends 'base.html' %}
{% block head %}

    {{ super() }}

{% endblock %}
{% block header %}
{{ super() }}
{% endblock %}
{% block content %}
    <table>
        <tr>
            {% for header in question.keys() %}
                <th>{{ header.capitalize().replace('_', ' ') }}</th>
            {% endfor %}
            <th>Tags</th>
            <th>Vote</th>
            <th>Actions</th>
        </tr>

        <tr>

                {% for data in question.keys() %}
                    <td class="{{ data }}">
                {% if data == "title" %}

                    <a href="question/{{ question["id"] }}">{{ question[data] }}</a>

                {% elif data == "image" %}
                        {% if question['image'] == 'none.jpg' %}
                            <img style="width: 50px; height: 50px" src={{ url_for('static', filename="images/none.jpg")}}  alt="">
                        {% else %}
                            <img style="width: 50px; height: 50px" src="{{ url_for('static', filename="images/questions/" + question['id']|string + "/" + question['image']) }}" alt="">
                        {% endif %}
                {% else %}

                    {{ question[data] }}

                {% endif %}
                {% endfor %}
                </td>
            <td>
{#                {% if tags %}#}
                    {% for tag in tags %}
                        <span>{{ tag['name'] }} - <button><a href="/question/{{ question["id"] }}/tag/{{ tag["id"] }}/delete">X</a></button></span><br>
                    {% endfor %}
{#                {% endif %}#}

            </td>

            <td>
                <form action="{{ url_for('vote_on_post', entry_id=question['id'], vote_value='vote_up', entry_type='question') }}" method="post">
                    <button type="submit" class="btn-link">Vote up</button>
                </form>
                <form action="{{ url_for('vote_on_post', entry_id=question['id'], vote_value='vote_down', entry_type='question') }}" method="post">
                    <button type="submit" class="btn-link">Vote down</button>
                </form>
            </td>

            <td>
                <button  class="btn-link" style="display:block;">
                    <a href="{{ question['id'] }}/delete">DELETE</a>
                </button>
                <button  class="btn-link" style="display:block;" >
                    <a href="{{ question['id'] }}/edit">EDIT</a>
                </button>
                <button  class="btn-link" style="display:block;" >
                    <a href="{{ question['id'] }}/new-tag">ADD TAG</a>
                </button>
            </td>


        </tr>
    </table>

    <div class="comments_section">
    <h2>Comments:</h2>
    {% for comment in comments %}
        <p>{{ comment.id }} | {{ comment.submission_time }} | {{ comment.message }} <a href</p>
        <button  class="btn-link" style="display:block;">
                                    <a href="../comment/{{ comment['id'] }}/delete">DELETE</a>
                                </button>
        <button  class="btn-link" style="display:block;">
                                        <a href="../comment/{{ comment['id'] }}/edit">EDIT</a>
                                    </button>
    {% endfor %}

    <button  class="btn-link">
            <a href="/question/{{ question['id'] }}/add-comment">New comment</a>
        </button>

    </div>


    <div class="answers_section">
    <h2>Answers:</h2>

        {% if  answers|length > 0  %}
            <table>
                <tr>
                    {% for header in answers[0].keys() %}
                        {% if header != 'comments' %}
                        <th>{{ header.capitalize().replace('_', ' ') }}</th>
                        {% endif %}
                    {% endfor %}

                    <th>Vote</th>
                    <th>Actions</th>
                </tr>

                    {% for answer in answers %}
                        <tr>
                        {% for data in answer.keys() %}
                            {% if data != 'comments' %}
                            <td class="{{ data }}">
                                {% if data == "image" %}
                                        {% if answer[data] == 'none.jpg' %}
                                            <img style="width: 50px; height: 50px" src={{ url_for('static', filename="images/none.jpg")}}  alt="">
                                        {% else %}
                                            <img style="width: 50px; height: 50px" src="{{ url_for('static', filename="images/answers/" + answer['id']|string + "/" + answer['image']) }}" alt="">
                                        {% endif %}
                                {% else %}

                                    {{ answer[data] }}

                                {% endif %}
                            </td>
                            {% endif %}
                        {% endfor %}


                            <td>
                                <form action="{{ url_for('vote_on_post', entry_id=answer['id'], vote_value='vote_up', entry_type='answer') }}" method="post">
                                    <button type="submit" class="btn-link">Vote up</button>
                                </form>
                                <form action="{{ url_for('vote_on_post', entry_id=answer['id'], vote_value='vote_down', entry_type='answer') }}" method="post">
                                    <button type="submit" class="btn-link">Vote down</button>
                                </form>
                            </td>

                            <td>

                                <button  class="btn-link" style="display:block;">
                                    <a href="../answer/{{ answer['id'] }}/delete">DELETE</a>
                                </button>

                                <button  class="btn-link" style="display:block;">
                                    <a href="../answer/{{ answer['id'] }}/edit">EDIT</a>
                                </button>

                                <button  class="btn-link" style="display:block;">
                                    <a href="../answer/{{ answer['id'] }}/add-comment" method="GET">NEW COMMENT</a>
                                </button>
                            </td>
                        </tr>
                    {% if answer['comments']|length != 0 %}

                        <tr>
                            <th colspan="2"></th>
                            <th colspan="6" style="text-align:left;" class="comments header">Comments</th>
                        </tr>
{#                        <tr>#}
{#                            <th>submission time</th>#}
{#                            <th>times edited</th>#}
{#                            <th colspan="6">message </th>#}
{#                        </tr>#}


                            {% for comment in answer['comments'] %}
                            <tr>
                                <th colspan="2">
                                <button  class="btn-link" style="display:block;">
                                    <a href="../comment/{{ comment['id'] }}/edit">EDIT</a>
                                </button>
                                <button  class="btn-link" style="display:block;">
                                    <a href="../comment/{{ comment['id'] }}/delete">DELETE</a>
                                </button>
                                </th>

                                <td colspan="6">
                                <p class="answer comment"><p>{{ comment.id }} | {{ comment.submission_time }} | {{ comment.message }} </p>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr><th colspan="8"></th></tr>


{#                        {% for comment in answer['comments'] %}#}
{#                            <tr style="border-bottom: 2px solid red;">#}
{#                                <td style="border-bottom: 2px solid red;">{{ comment['submission_time'] }}</td>#}
{#                                <td style="border-bottom: 2px solid red;">{{ comment['edited_count'] }}</td>#}
{#                                <td colspan="6" style="border-bottom: 2px solid red;">{{ comment['message'] }}</td>#}
{#                                <td>#}
{#                                    <button  class="btn-link" style="display:block;">#}
{#                                        <a href="../comment/{{ comment['id'] }}/edit">EDIT</a>#}
{#                                    </button>#}
{#                                    <button  class="btn-link" style="display:block;">#}
{#                                        <a href="../comment/{{ comment['id'] }}/delete">DELETE</a>#}
{#                                    </button>#}
{#                                </td>#}
{#                            </tr>#}
{#                        {% endfor %}#}
                    {% else %}
                        <tr>
                            <th colspan="8" style="text-align:left; font-size: 0.75em" class="comments header">No comments</th>
                        </tr>
                    {% endif %}
                    {% endfor %}
            </table>
        {% else %}
        <h3>no answers</h3>
        {% endif %}

        <br>
        <button  class="btn-link">
            <a href="/question/{{ question['id'] }}/add-answer">Add an answer</a>
        </button>
        </div>

{% endblock %}